:host {
  display: grid;
}

.bookings-table {
  margin: 20px;

  &__options {
    &--mobile {
      display: none;
    }
  }
}

.loading {
  display: grid;
  place-items: center;
  margin-top: 30%;
  height: 100%;
}

@media(max-width: 600px) {
  .bookings-table {
    margin: 0;

    th, td {
      padding-left: 5px;
      padding-right: 0;
    }

    &__options {
      &--mobile {
        display: block;
        text-align: right;
      }

      &--desktop {
        display: none;
      }
    }
  }
}
