@mixin grid-span-full {
  grid-column: -1 / 1;
}

:host {
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

h1 {
  text-align: center;
  margin-top: 0.5em;
}

mat-card {
  margin: 3em;

  @media(max-width: 500px) {
    margin: 0.25em;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.account-type {
  @include grid-span-full;
}

button {
  @include grid-span-full;
}

.signup-error {
  margin: 20px 0;
  @include grid-span-full;
}
