<h1>Registrierung</h1>
<mat-card>
  <div class="logo">
    <img alt="logo" src="./assets/homeboi-logo.webp">
  </div>
  <p>Um einen Account zu erstellen, benötigen wir noch ein paar Daten von dir.</p>
  <form (submit)="submit()" [formGroup]="signupGroup">
    <mat-form-field class="account-type">
      <mat-label>Art des Accounts</mat-label>
      <mat-select formControlName="accountType">
        <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.value">
          {{accountType.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error>Bitte Accounttyp auswählen</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="email"
        type="text"
        placeholder="E-Mail"
        matInput
        required
      />
      <mat-error>Bitte korrekte E-Mail eingeben</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="password"
        type="password"
        placeholder="Passwort"
        matInput
        required
      />
      <mat-error>Bitte Passwort eingeben</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="name"
        type="text"
        placeholder="Vorname Nachname oder Firmenname"
        matInput
        required
      />
      <mat-error>Eingabe erforderlich</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="contactPerson"
        type="text"
        placeholder="Kontaktperson (nur bei Firmen)"
        matInput
      />
    </mat-form-field>
    <ng-container formGroupName="address">
      <mat-form-field>
        <input
          formControlName="street"
          type="text"
          placeholder="Strasse"
          matInput
          required
        />
        <mat-error>Eingabe erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="streetNumber"
          type="text"
          placeholder="Hausnummer"
          matInput
          required
        />
        <mat-error>Eingabe erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="zipCode"
          type="text"
          placeholder="Postleitzahl"
          matInput
          required
        />
        <mat-error>Eingabe erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="city"
          type="text"
          placeholder="Stadt"
          matInput
          required
        />
        <mat-error>Eingabe erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="country"
          type="text"
          placeholder="Land"
          matInput
        />
        <mat-error>Eingabe erforderlich</mat-error>
      </mat-form-field>
    </ng-container>
    <mat-error *ngIf="signupError$ | async" class="signup-error">
      Bei Ihrer Registrierung ist ein Fehler aufgetreten.
      Eventuell existiert bereits ein Account unter Ihrer E-Mail-Adresse.
    </mat-error>
    <button mat-raised-button [disabled]="signupSubmitted$ | async" type="submit" color="primary">Registrieren</button>
    <button mat-raised-button routerLink="/" type="button">zurück zum Login</button>
  </form>
</mat-card>
