.notifications-table {
  width: 100%;
}

.loading {
  display: grid;
  place-items: center;
  margin-top: 30%;
  height: 100%;
}

section {
  display: block;
  max-width: 900px;
  margin: 15px auto 0 auto;
}
