<homeboi-header [showInputBar]="false"></homeboi-header>

<section>
  <button class="back-btn" mat-button (click)="goBack()">
    <mat-icon>chevron_left</mat-icon> Zurück
  </button>

  <mat-card *ngIf="product">
    <div class="wrapper">
      <div>
        <img class="product-image" [alt]="product.title" [src]="product.image" />
      </div>
      <div>
        <mat-chip-list aria-label="Type">
          <mat-chip class="chip" selected>{{ product.productType }}</mat-chip>
        </mat-chip-list>
        <section class="text">
          <h2 class="text_title">{{ product.title }}</h2>
          <p class="text__description">{{ product.description }}</p>
          <p class="text__masse">
            <span><strong>Höhe:</strong> {{ product.height }} cm</span>
            <span><strong>Breite:</strong> {{ product.height }} cm</span>
            <span><strong>Höhe:</strong> {{ product.height }} cm</span>
          </p>
          <mat-chip-list aria-label="Type">
            <mat-chip *ngFor="let tag of product.tags" selected>{{ tag }}</mat-chip>
          </mat-chip-list>
        </section>
        <button mat-raised-button color="accent" (click)="showBookingSection=!showBookingSection" *ngIf="!showBookingSection">
          Jetzt mieten
        </button>

        <div *ngIf="showBookingSection">
          <h3>Wir brauchen noch folgende Informationen von dir</h3>
          <div>
            <mat-form-field class="booking-form-field">
              <mat-label>Startdatum deiner Buchung</mat-label>
              <input label="Startdatum" matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="startDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="booking-form-field">
              <mat-label>Informationen zur Auslieferung</mat-label>
              <textarea matInput placeholder="Geräte können in der Garage abgeladen werden"  [(ngModel)]="description"></textarea>
            </mat-form-field>
          </div>
          <mat-checkbox [(ngModel)]="insurance">Buchung für nur {{ (product.price * 0.1) }}€ extra versichern?</mat-checkbox>

          <button mat-raised-button color="accent" class="book-btn" (click)="book()" [disabled]="!startDate">
            Endpreis: {{ !insurance ? (product.price) : (product.price) + (product.price * 0.1) }} € / Woche. Jetzt buchen?
          </button>

        </div>
      </div>
    </div>

  </mat-card>

</section>

