@mixin grid-span-full {
  grid-column: -1 / 1;
}

:host {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 0.5em;
}

mat-card {
  margin: 3em;

  @media(max-width: 500px) {
    margin: 0.25em;
  }
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.image {
  @include grid-span-full;
  display: flex;
  flex-direction: column;

  .product-image {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }

  .input {
    display: none;
  }

  .delete-image {
    align-self: center;
  }

  .kachel {
    display: grid;
    place-items: center;
    height: 300px;
    background-color: lightgrey;
    cursor: pointer;
  }
}

.beschreibung {
  @include grid-span-full;
}

button {
  //@include grid-span-full;
}

.tag-input{
  @include grid-span-full;
}

.masse-area {
  @include grid-span-full;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
}
