:host {
  display: grid;
  place-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

mat-form-field {
  min-width: 300px;
}

.image {
  grid-column: span 2;
  display: flex;
  flex-direction: column;

  .product-image {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }

  .input {
    display: none;
  }

  .delete-image {
    align-self: center;
  }

  .kachel {
    display: grid;
    place-items: center;
    height: 300px;
    background-color: lightgrey;
    cursor: pointer;
  }
}

.beschreibung {
  grid-column: span 2;
}

button {
  grid-column: span 2;
}

.tag-input{
  grid-column: span 2;
}

.masse-area {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}
