:host {
  display: grid;
  place-items: center;
}

h1 {
  margin-top: 0.5em;
}

mat-card {
  margin: 3em;

  @media(max-width: 500px) {
    margin: 0.25em;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

form {
  display: grid;
  grid-gap: 1em;
  margin: 1em;
}
