mat-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.logo {
  position: relative;
  top: 3px;
  margin-right: auto;

  &__img {
    width: 130px;
  }
}

::ng-deep.notifications.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  top: -5px;
  right: -5px;
}

mat-expansion-panel {
  position: absolute;
  top: 67px;
  z-index: 1;

  mat-form-field + mat-form-field {
    margin-left: 0.5em;
  }

  @media (max-width: 700px) {
    width: 85%;
    top: 100px;

    ::ng-deep.mat-expansion-panel-body {
      display: flex;
      flex-direction: column;
    }
  }
}

.search-field {
  background-color: white;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  height: 35px;
  margin: 0 1em;
  flex: 1 0 auto;

  @media (max-width: 550px) {
    margin: 0;
  }

  &:focus-within {
    border-color: black;
  }

  & > input {
    border: none;
    width: 100%;
    outline: none;
    line-height: 1.5;
    font-size: 15px;
  }
}

.align-right {
  float: right;

  &::after {
    content: " ";
    clear: both;
  }
}

.inserat-button {
  margin: 0 3em;

  @media(max-width: 800px) {
    margin: 0 0 0 5px;
  }
}
