<header>
  <mat-toolbar [class.show-searchbar]="showSearchbar">
    <a [routerLink]="userAccountType$ | async" class="logo">
      <img alt="logo" class="logo__img" src="./assets/logo.png"/>
    </a>
    <button *ngIf="showInputBar" mat-icon-button (click)="showFilter = !showFilter">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-expansion-panel *ngIf="showFilter">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nach Produkten filtern
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Kategorien</mat-label>
        <mat-select [formControl]="formGroup.get('productType')" multiple>
          <mat-option *ngFor="let type of productTypes" [value]="type.key">{{type.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preis min</mat-label>
        <input matInput type="text" [formControl]="formGroup.get('priceMin')" placeholder="Preis min"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preis max</mat-label>
        <input matInput type="text" [formControl]="formGroup.get('priceMax')" placeholder="Preis max"/>
      </mat-form-field>
    </mat-expansion-panel>
    <div *ngIf="showInputBar" class="search-field" [class.show]="showSearchbar">
      <mat-icon>search</mat-icon>
      <input type="text" [formControl]="formGroup.get('title')" placeholder="Suche"/>
    </div>
    <a *ngIf="showInseratButton" mat-raised-button color="accent" class="inserat-button"
       [routerLink]="'inserat'">
      Inserat anlegen
    </a>
    <div class="align-right">
      <button *ngIf="(userAccountType$ | async) === '/user'" mat-icon-button routerLink="/user/orders">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-icon-button routerLink="/notifications"
              class="notifications"
              [matBadge]="(notificationCount$ | async)+''"
              matBadgeColor="warn"
              [matBadgeHidden]="(notificationCount$ | async) === 0">
        <mat-icon>mail_outline</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="userProfileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userProfileMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>edit</mat-icon>
          <span>Profil bearbeiten</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
